# filename: .gitignore

# ignore source_power
source_power/

# ignore .npy files in ultrasound_image_processing
ultrasound_image_processing/20221218_contrast_investigate_ijvdepth_sdsrange_3to40
ultrasound_image_processing/20230426_contrast_investigate_ijvdepth_sdsrange_5to45_g99
ultrasound_image_processing/20230625_contrast_investigate_ijvaxis_sdsrange_5to45_g99
ultrasound_image_processing/20230712_contrast_investigate_cca_sAng_sdsrange_5to45_g99
ultrasound_image_processing/20230715_contrast_invivo_geo_simulation
ultrasound_image_processing/20230819_contrast_investigate_ijvpulserange_sdsrange_5to45_g99
ultrasound_image_processing/20230819_contrast_investigate_sameUpperedge2skin_differentMinor_sdsrange_5to45_g99

# ignore .jnii in mcx
mcx/example/quicktest/grid3x_source.jnii
mcx/example/quicktest/grid3x_detector.jnii
